<div class="min-rating-select">
  {{#power-select
    allowClear=true
    options=rating_options
    placeholder="Select a minimum rating"
    selected=minRating
    searchField="name"
    onchange=(action 'minRatingSelected')
    as |minRating|
  }}
    {{minRating.value}}
  {{/power-select}}
</div>

{{#light-table table
  height='65vh'
  responsive=true
  as |t|
}}

   {{t.head
    onColumnClick=(action 'onColumnClick')
    iconSortable='fa fa-sort'
    iconAscending='fa fa-sort-asc'
    iconDescending='fa fa-sort-desc'
    fixed=true
  }}

  {{#t.body as |body|}}

    {{#body.expanded-row as |row|}}
      {{responsive-expanded-row table=table row=row}}
    {{/body.expanded-row}}

    {{#if isLoading}}
      {{#body.loader}}
        Loading...
      {{/body.loader}}
    {{/if}}

    {{#if table.isEmpty}}
      {{#body.no-data}}
        No results
      {{/body.no-data}}
    {{/if}}
  {{/t.body}}

  {{#if meta}}
    {{#t.foot fixed=true as |columns|}}
      <tr>
        <td class="align-center" colspan={{columns.length}}>
          <ul class="pagination pagination-sm">
            <li class={{if (eq page 1) 'disabled'}}>
              <a {{action 'setPage' (dec page)}} href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            {{#each (range 1 meta.totalPages true) as |p|}}
              <li class={{if (eq p page) 'active'}}>
                <a {{action 'setPage' p}} href="#">{{p}}</a>
              </li>
            {{/each}}
            <li class={{if (eq page meta.totalPages) 'disabled'}}>
              <a {{action 'setPage' (inc page)}} href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
    {{/t.foot}}
  {{/if}}

{{/light-table}}